:root { 
--gray_700:#676767; 
--blue_gray_100:#d9d9d9; 
--gray_800:#494949; 
--white_A700_a2:#ffffffa2; 
--gray_900:#0b111f; 
--gray_800_01:#404040; 
--gray_200:#eeeeee; 
--black_900_2d:#0000002d; 
--gray_100:#f5f5f5; 
--black_900_01:#101010; 
--black_900:#000000; 
--teal_700:#008b48; 
--white_A700_01:#fffffc; 
--gray_100_01:#f5f6f5; 
--teal_900:#005b30; 
--blue_200:#89cff0; 
--white_A700:#ffffff; 
--teal_900_01:#005b2f; 
}